
.SearchBox{
	display: flex;
}
input{
	border: 1px solid;

box-sizing: border-box;
border-radius: 50px;
width:300px;
height: 54px;
outline: none;
padding: 1rem;

}
input::placeholder{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}
.search{
	background: #4A36EB;
	width: 40px;
	height: 40px;
	border-radius: 50%;	
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-120%,18%);

}